__pycache__/
*.pyc
*.pyo
*.pyd

outputs/
results/*
artifacts/
.pytest_cache/
lmms-eval/

*.pkl
*.pt
*.bin
*.safetensors
*.whl
*.sh
!scripts/*.sh

.vscode
*.env.a100
datasets/*/.archives/
datasets/*/blip2_features_and_scores*
datasets/*/video
datasets/*/videos
datasets/videomme/data
